.allskills {
    width: 85%;
    margin: 35px 0 0 150px;
}
.skillbar {
    position:relative;
    display:block;
    margin-bottom:42px;
    width:100%;
    background:#eee;
    height:5px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top: -8px;
    left: -110px;
    width:110px;
    font-size:15px;
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    text-align: right;
}

.skillbar-title span {
    display:block;
    padding:0 20px;
    height:35px;
}

.skillbar-bar {
    height:5px;
    width:0px;
    border-radius:3px;
    background: #2da5da;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

/* Responsive CSS */
/* *** Tablets */
@media screen and (max-width: 1000px) {
    .allskills{
        margin: 30px 0 0 115px;
    }
}
/* *** Mobiles */
@media screen and (max-width: 767px) {
    .allskills{
        margin: 20px 0 0 90px;
        width: 75%;
    }
    .skillbar-title {
        font-size: 13px;
    }
    .skillbar{
        margin-bottom: 30px;
    }
    .skillbar-title span{
        height: 30px;
        line-height: 30px;
    }
}
