/* Menu Colors */
.sp-menu li:hover > a,
.sp-menu li.current > a {
    background: #222;
    color: #fff;
}
/* ************************************************************************** */

/* Background Colors or Images */
.sp-bg-color {
    background-color: #ffffff;
}
.sp-bg-img {
    background-image: url(../../resources/bgImages/blackBG.jpg);
}
/* ************************************************************************** */

/* Menu-Form Colors */
.sp-menu form .input:hover input,
.sp-menu form .textarea:hover textarea {
    border-color: #909090;
}
.sp-menu form .button {
    background-color: #222;
}
.sp-menu form .input input:focus,
.sp-menu form .textarea textarea:focus {
    border-color: #222;
}
/* ************************************************************************** */

/* SP-Form Colors */
/* *** Normal */
.sp-form .toggle i:before {
    background-color: #222;
}
.sp-form .toggleConfirm i:before {
    background-color: #222;
}
.sp-form .button {
    background-color: #222;
}

/* *** Hover */
.sp-form .input:hover input,
.sp-form .select:hover select,
.sp-form .textarea:hover textarea,
.sp-form .radio:hover i,
.sp-form .checkbox:hover i,
.sp-form .toggle:hover i,
.sp-form .toggleConfirm:hover i,
.sp-form .ui-slider-handle:hover {
    border-color: #909090;
}
.sp-form .rating input + label:hover,
.sp-form .rating input + label:hover ~ label {
    color: #222;
}

/* *** Focus */
.sp-form .input input:focus,
.sp-form .select select:focus,
.sp-form .textarea textarea:focus,
.sp-form .radio input:focus + i,
.sp-form .checkbox input:focus + i,
.sp-form .toggle input:focus + i,
.sp-form .toggleConfirm input:focus + i{
    border-color: #222;
}

/* *** Checked */
.sp-form .radio input + i:after {
    background-color: #222;
}
.sp-form .checkbox input + i:after {
    color: #222;
}
.sp-form .radio input:checked + i,
.sp-form .checkbox input:checked + i,
.sp-form .toggle input:checked + i,
.sp-form .toggleConfirm input:checked + i{
    border-color: #222;
}
.sp-form .rating input:checked ~ label {
    color: #222;
}

/* ************************************************************************** */

/* Custom Scroll-Bar */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #222;
}
/* ************************************************************************** */

/* Work In-Progress */
.blogSectionActive > .wipHoldOn{
    color: #222;
}
.blogSectionActive > .wipIcons{
    color: #222;
}
/* ************************************************************************** */