/* Menu Colors */
.sp-menu li:hover > a,
.sp-menu li.current > a {
    background: #2a70e8;
    color: #fff;
}
/* ************************************************************************** */

/* Background Colors or Images */
.sp-bg-color {
    background-color: #ffffff;
}
.sp-bg-img {
    background-image: url(../../resources/bgImages/blueBG.jpg);
}
/* ************************************************************************** */

/* Menu-Form Colors */
.sp-menu form .input:hover input,
.sp-menu form .textarea:hover textarea {
    border-color: #94b7f3;
}
.sp-menu form .button {
    background-color: #2a70e8;
}
.sp-menu form .input input:focus,
.sp-menu form .textarea textarea:focus {
    border-color: #2a70e8;
}
/* ************************************************************************** */

/* SP-Form Colors */
/* *** Normal */
.sp-form .toggle i:before {
    background-color: #2a70e8;
}
.sp-form .toggleConfirm i:before {
    background-color: #2a70e8;
}
.sp-form .button {
    background-color: #2a70e8;
}

/* *** Hover */
.sp-form .input:hover input,
.sp-form .select:hover select,
.sp-form .textarea:hover textarea,
.sp-form .radio:hover i,
.sp-form .checkbox:hover i,
.sp-form .toggle:hover i,
.sp-form .toggleConfirm:hover i,
.sp-form .ui-slider-handle:hover {
    border-color: #94b7f3;
}
.sp-form .rating input + label:hover,
.sp-form .rating input + label:hover ~ label {
    color: #2a70e8;
}

/* *** Focus */
.sp-form .input input:focus,
.sp-form .select select:focus,
.sp-form .textarea textarea:focus,
.sp-form .radio input:focus + i,
.sp-form .checkbox input:focus + i,
.sp-form .toggle input:focus + i,
.sp-form .toggleConfirm input:focus + i{
    border-color: #2a70e8;
}

/* *** Checked */
.sp-form .radio input + i:after {
    background-color: #2a70e8;
}
.sp-form .checkbox input + i:after {
    color: #2a70e8;
}
.sp-form .radio input:checked + i,
.sp-form .checkbox input:checked + i,
.sp-form .toggle input:checked + i,
.sp-form .toggleConfirm input:checked + i{
    border-color: #2a70e8;
}
.sp-form .rating input:checked ~ label {
    color: #2a70e8;
}

/* ************************************************************************** */

/* Custom Scroll-Bar */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #2a70e8;
}
/* ************************************************************************** */

/* Work In-Progress */
.blogSection > .wipHoldOn{
    color: #2a70e8;
}
.blogSection > .wipIcons{
    color: #2a70e8;
}
/* ************************************************************************** */

/* Home Section */
.homeVR {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #2a70e8 , rgba(0, 0, 0, 0));
}
.topQuoteHome blockquote p:first-child:before{
    color: #94b7f3;
}
.topQuoteHome blockquote footer{
    color: #2a70e8;
}
.resumeDownloadBtn {
    border: 2px solid #2a70e8;
    color: #2a70e8;
}
.resumeDownloadBtn .resumeDownloadBtnIcon {
    border-left: 1px solid #2a70e8;
}
.resumeDownloadBtn:after {
    background-color: #2a70e8;
}
.mySkillsCloudCanvas a {
    color: #2a70e8;
}
/* ************************************************************************** */

/* Timeline */
.cd-timeline__container::before {
    background: #94b7f3;
}
.cd-timeline__sym {
    background-color: #2a70e8;
}
.cd-timeline__content {
    background: rgba(148, 183, 243, 0.24);
    -webkit-box-shadow: 0 3px 0 #94b7f3;
    box-shadow: 0 3px 0 #94b7f3;
}
.cd-timeline__read-more {
    background: #2a70e8;
}
.cd-timeline__read-more:hover {
    background-color: #94b7f3;
}
.cd-timeline__date {
    color: #2a70e8;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline__sym {
        background-color: #2a70e8;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-timeline__content::before {
        border-left-color: #2a70e8;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
        border-right-color: #2a70e8;
    }
}
@media screen and (max-width: 767px) {
    .cd-timeline__content::before {
        border-right: 7px solid #2a70e8;
    }
}
/* ************************************************************************** */

/* Bootstrap Modal */
.btn-default {
    background-color: #2a70e8;
}
.btn-default.focus,
.btn-default:focus {
    background-color: #94b7f3;
}
.btn-default:hover {
    background-color: #94b7f3;
}
.modal-footer {
    border-top: 1px solid #2a70e8
}
.modal-header {
    border-bottom: 1px solid #2a70e8;
}
/* ************************************************************************** */

/* Tiles Layout */
.title {
    background-color: #2a70e8;
}
.desc hr{
    border-color: #2a70e8;
}
.tileInfo span {
    color: #2a70e8;
}
.tileReadMore a {
    background: #2a70e8;
}
.tileReadMore a:hover {
    background-color: #94b7f3;
}
/* ************************************************************************** */

/* Skills Bars */
.skillbar-bar {
    background: #2a70e8;
}
/* ************************************************************************** */

/* Header */
.sectionHeader span:before,
.sectionHeader span:after {
    border-bottom: 1px solid #2a70e8;
    border-top: 1px solid #2a70e8;
}
/* ************************************************************************** */