/* Menu Colors */
.sp-menu li:hover > a,
.sp-menu li.current > a {
    background-color: #fd7337;
    color: #fff;
}
/* ************************************************************************** */

/* Background Colors or Images */
.sp-bg-color {
    background-color: #000000;
}
.sp-bg-img {
    background-image: url(../../resources/bgImages/orangeBG.jpg);
}
/* ************************************************************************** */

/* Form Colors */
.sp-menu form .input:hover input,
.sp-menu form .textarea:hover textarea {
    border-color: #f5b093;
}
.sp-menu form .button {
    background-color: #fd7337;
}
.sp-menu form .input input:focus,
.sp-menu form .textarea textarea:focus {
    border-color: #fd7337;
}
/* ************************************************************************** */